.auth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100dvh;
}

.auth section:first-child {
    width: 50%;
    background: gray;

}

.auth section:last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}